<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Flask сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>AI programación</h1>
    <p>la pagina official de NVA.</p>
</body>
</html>
<body>

    <nav>
        <ul>
            <li><a href="#">Principales</a></li>
            <li><a href="#">Sobre mi</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </nav>
